.preview{
    position: relative;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    padding-top: 0;
    overflow: hidden;
    margin-top: -81px;
}
.preview__main-img{
    object-fit: cover;
    position: absolute;
    z-index: -100;
    width: 100%;
    
}
.preview__text-wrapper{
    display: block;
    float: right;
    padding: 93px 0 100px 0;    
}
.preview__tagline{
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0 108px 0 0;
}
.preview__tagline__text-main{
    font-weight: 114/80;
    font-size: 106.496px;
    line-height: 75%;    
    position: absolute;
    top: -16px;
    left: 82px;
}
.preview__tagline__text-main span{
    color:#FFEE2E;
}
.preview__tagline__circle{
    width: 465px;
    height: 465px;
    background: linear-gradient(90deg, rgba(249,128,75,1) 0%, rgba(254,144,19,1) 100%);
    border-radius: 50%;
    margin: 0 0 0 6px;
}
.preview__tagline__button{
    margin: 68px -104px 0px 85px;
    width: 300px;
}
.pets__bg-left-small{
    display: none;
}
.backstage{ 
    position: relative; 
}
.backstage__bg{
    position: absolute;
    top: 11px;
    right: 0;
    z-index: -8;
}
.backstage__block__img-block{
    width: 53%;
    padding-right: 7%;
}
.backstage__block__img{
    display: block;
    width: 100%;
    max-width: 609px;
    height: auto;
}
.backstage__block{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.backstage__block__text-block{
    width: 40%;
}
.dark-subtitle--backstage{
    padding: 53px 0 24px;
}
.pets{
    position: relative;
    padding: 181px 0 31px;
}
.pets__bg-left,
.pets__bg-right{
    position: relative;
    z-index: -100;
    position: absolute;
    bottom: 0;
}
.pets__bg-left{
    left: 0;
}
.pets__bg-right{
    right: 0;
}
.pets__items{
    display: grid;
    gap: 20px 30px;
    grid-template-columns: 1fr 1fr 1fr;
}
.pets__item__gradient{
    background: linear-gradient(90deg, rgba(250,111,50,1) 0%, rgba(254,144,19,1) 100%);
    padding: 1px;
    border-radius: 5px;
    position: relative;
}
.pets__item__gradient img{
    display: block;
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.pets__item{
    max-width: 368px; 
}
.pets__item__gradient-block{
    overflow: hidden;
    border-radius: 5px;
    background-color: black;
    max-height: 366px;
}
.pets__item:hover .pets__item__gradient img{
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transition: all 1s;
}
.pets__item__text{
    height: 40px;
    padding: 10px 16px;
    position: relative;
    background: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.pets__item:hover .pets__item__gradient-block img{
    opacity: 0.5;
}
.pets__item__text::after{
    content: "";
    width: 46px;
    height: 38px;
    position: absolute;
    top: 10px;
}
.pets__item__text.fruits::after{
    background: url('../../assets/icons/banana-bamboo_icon.png') no-repeat;
    right: 0px;
}
.pets__item__text.fish::after{
    background: url('../../assets/icons/meet-fish_icon.png') no-repeat;
    right: 10px;
}
.pets__item__text__subtitle{
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    transition: all 1s;
}
  @keyframes textmove {
    0% {
      top: 0;
      left: 0;
    }
    30% {
      top: 50px;
    }
    68%,
    72% {
      left: 50px;
    }
    100% {
      top: 100px;
      left: 100%;
    }
  }
.pets__item__text__text{
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 80%;
    transition:  all 1s;
}
.pets__item:hover .pets__item__text__subtitle,
.pets__item:hover .pets__item__text__text{
    overflow: hidden;
    position: absolute;
    top: -196px;
    left: 0%;
    z-index: 100;
    background: none;
    width: 100%;
    height: 100%;
    color: #ffffff;
    text-align: center;    
    animation: textmove all 5s;
}
.pets__item:hover .pets__item__text__text{
    top: -176px;
}
.rounded-button.no-gradient.pets-btn{
    display: block;
    margin: 81px auto 70px;
    width: 300px;
}
.pets__slide{
    position: relative;
}
.pets__slide__btn{
    position: absolute;
    top: 50%;
    margin-top: -31px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.pets__slide__btn.left{
    left: -80px;
}
.pets__slide__btn.right{
    right: -80px;
}
.pets__slide__btn .arrows{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 65% 65%;
}
.left-arrow{
    background-image: url('../../assets/icons/arrow-left.svg');
}
.right-arrow{
    background: url('../../assets/icons/arrow-right.svg');

}
.pets__slide__btn:hover{
    background: #4B9200;
}
.pets__slide__btn:active{
    background: #4B9200;
}
.pick{
    margin-top: 0;
    padding: 69px 55px 100px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}
.pick__block{
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 1px 1px;
}
.pick__block .orange-title{
    padding-top: 41px;
    padding-bottom: 30px;
    margin: 0;
}
.pick__block__text-wrapper{
    padding-left: 99px;
    padding-top: 0px;
}
.section-text.pick-text{
    padding-right: 188px;
    padding-top: 0px;
}
.pick-subtitle{
    padding-bottom: 29px;
}
.pick-bold-text{
    padding-bottom: 10px;
}
.how-it-works{
    margin: 10px;
    padding: 42px 0 18px;
}
.how-it-works__items{
    display: grid;
    grid-template-columns: 168px 168px 168px;
    gap: 132px;
    justify-content: center;
    padding: 25px 0;
}
.how-it-works__item-wrapper{
    width: 168px;
    height: 168px;
    background: linear-gradient(135deg, rgba(249,128,75,1) 0%, rgba(254,144,19,1) 100%);
    border-radius: 5px;
    padding: 1px;
}
.section-text.how-it-works__item-text{
    padding-top: 28px;
}
.how-it-works__item-img{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 5px;    
}
.how-it-works__item{
    position: relative;
}
.how-it-works__item:nth-child(2)::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25%;
    left: -102px;
    background: url('../../assets/icons/how-it-works-arrow.svg') no-repeat;
}
.how-it-works__item:nth-child(2)::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 24%;
    left: 198px;
    background: url('../../assets/icons/how-it-works-arrow.svg') no-repeat;
}
.how-it-works__item-img::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
.how-it-works__item-img.pay::before{
    background: url('../../assets/icons/pay.svg') no-repeat;
    top: 34%;
    left: 19%;
}
.how-it-works__item-img.zoo::before{
    background: url('../../assets/icons/zoo.png') no-repeat;
    top: 34px;
    left: 26%;
}
.how-it-works__item-img.monkey::before{
    background: url('../../assets/icons/monkey.svg') no-repeat;
    top: 47px;
    left: 11%;
}
.how-it-works__btn{
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 38px auto 32px;
    width: 268px;
}   
.testimonials{
    position: relative;
    padding-top: 136px;
    padding-bottom: 181px;
}
.testimoinals__wrapper{
    padding-top: 33px;
    position: relative;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.testimonials .rectangle-btn{
    width: 297px;
    margin-top: 5px;
}
.testimonials__text-wrap{
    position: relative;
    overflow: hidden;
    width: 268px;
    height: 390px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    border-radius: 20px;
    padding: 1px;
    z-index: -100;
}
.testimonials__text-item{
    width: 100%;
    height: 100%;
    background: #F1F3F2;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}
.testimonials__text-item-padding{
    height: 391px;
    cursor: pointer;
    display: block;
    padding: 15px 15px 19px 16px;
    margin-bottom: 19px;
    text-decoration: none;
}
.testimonials__text-item-padding .small-text{
    margin-bottom: 19px;
}
.testimonials__text-item__info{
    display: grid;
    grid-template-columns: 37px auto;
    column-gap: 10px;
    grid-auto-rows: 37px;
}
.testimonials__text-item__info__img{
    display: block;
    border-radius: 50px;
    width: 37px;
    height: 37px;
}
.testimonials__text-item__info__name{
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
}
.small-text-wrap{
    overflow: hidden;
    height: 317px;
}
.small-text-wrap .small-text{
    margin: 0;
    padding-top: 10px;
}
.testimonials__text-item__info__text{
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}
.testimonials__text-item__info__text{
    position: relative;
    padding-right: 3px;
}
.testimonials__text-item__info__text.date{
    margin-left: 10px;
}
.testimonials__text-item__info__text.dot::after{
    content: "";
    position: absolute;
    top: 37%;
    left: 60%;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #BDBDBD;
}
.testimonials__scrollbar__wrapper{
    margin: 19px auto 26px;
    width: 599px;
    height: 8px;
    border-radius: 5px;
    padding: 1px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    border-radius: 5px;
}
.testimonials__scrollbar{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: #F5F7F6;
    transition: all 1s;
}
.active-scroll{
    background: #FE9013;
    border-radius: 5px;
}
.testimonials__scrollbar__buttons:hover{    
    background: #FE9013;
    border-radius: 5px;
}   
.testimonials__bg{
    position: absolute;
    bottom: -135px;
    right: 0;
    z-index: -100;
}
@media (max-width: 1599px) {
    .backstage__bg {
      display: none;
    }

  }

@media (max-width: 1440px) {
    .pets__items {
      gap: 92px 30px;
    }
    .pets__slide__btn.left{
        left: 34%;
    }
    .pets__slide__btn.right{
        right: 34%;
    }
  }

  @media (max-width: 1200px) {
    .preview__tagline__circle {
        width: 367px;
        height: 367px;
    }
    .preview__tagline__text-main{
        font-size: 85px;
    }
    .preview__text-wrapper{
        padding: 73px 0 47px 0;
    }
    .preview__tagline {
        padding: 0 147px 0 0;
    }
    .preview__tagline__text-main{
        top: -21px;
        left: 12px;
    }
    .preview__tagline__button {
        margin: 45px -68px 0px 85px;
    }
    .preview__main-img{
        height: 100%;
    }
    .header__nav__menu__item__link {
        padding: 5px 15px 5px 19px;
    }
    .backstage{
        padding-top: 109px;
    }
    .backstage__block__img-block{
        width: 48%;
        padding-right: 2%;
        overflow: hidden;
    }
    .backstage__block__img{
        width: 100%;
        height: 408px;
        object-fit: cover;
    }
    .backstage__block__text-block{
        width: 48%;
    }
    .backstage__block__text-block .dark-title{
        margin-top: -9px;
        letter-spacing: -0.01em;
    }
    .pets {
        padding: 144px 0 72px;
    }
    .pick{
        padding: 30px 29px 50px;
    }
    .pick__block__text-wrapper{
        padding-left: 49px;
    }
    .pick__block .orange-title{
        padding-top: 29px;
        padding-bottom: 22px;
    }
    .pick-subtitle{
        padding-bottom: 9px;
    }
    .how-it-works {
        padding-top: 21px;
    }
    .how-it-works__btn {
        margin: 47px auto 23px;
    }
    .testimonials {
        padding-top: 95px;
    }
    .testimoinals__wrapper{
        padding-top: 16px;
    }
    .testimoinals__wrapper>:last-child{
        display: none;
    }
  }
  @media(max-width: 1000px) {
    .container{
        max-width: 940px;
        
    }
      header{
        background: #111115;
        z-index: 100;
      }
      .preview__tagline__circle{
          position: relative;
          z-index: -100;
      }
      .preview__tagline__button{
          margin-right: -76px;
      }
      .backstage__block__img-block{
          width: 48.5%;
      }
      .pets__slide__btn.left{
          left: 34.5%;
      }
      .pets__bg-left{
          display: none;          
      }
      .pets__bg-left-small{
          display: block;
          margin-bottom: -5px;

      }
      .pets__bg-right{
          overflow: hidden;
          right: -17px;
      }
      .pets__bg-right img{
          /* width: 100%; */
          max-width: 229px;
          height: auto;
          /* min-height: 188px;           */
      }
      .rounded-button.no-gradient.pets-btn{
          margin-top: 83px;
          margin-bottom: -59px;
      }
      .pets{
          padding-bottom: 0;
      }
      .pick{
          box-sizing: border-box;
          padding-right: 15px;
          padding-left: 29px;
      }
      .pick__block__text-wrapper{
          padding-right: 20px;
          padding-left: 49px;
      }
      .pick-bold-text{
          padding-right: 65px;
          margin-bottom: -3px;
      }
      .section-text.pick-text{
        padding-right: 67px;
      }
      .orange-link{
         padding-bottom: 0; 
      }
      .section-text.how-it-works__item-text{
          padding-top: 31px;
      }
      .testimoinals__wrapper{
        grid-template-columns: 1fr 1fr 1fr;
      }
      .testimonials__text-wrap{
          width: 291px;
      }
      .testimonials__text-item-padding{
          padding-top: 13px;
      }
      .testimonials__scrollbar__wrapper{
          width: 390px;
          margin-top: 16px;
          margin-bottom: 46px;
      }
      .testimonials__bg{
          overflow: hidden;
          max-width: 200px;
          max-height: 300px;
          bottom: -59px;
          right: -12px;
      }
      .testimonials__bg img{
          width: 100%;
          height: auto;
      }
      .testimonials{
          padding-bottom: 141px;
      }
      .footer__wrap{
          padding-left: 29px;
          padding-right: 48px;
      }
      .footer-nav .header__nav__menu {
        margin-left: 41px;
    }   
      
  }