.preview{
    position: relative;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
}
.preview__main-img{
    position: relative;
    z-index: -100;
    margin-top: -80px;
}
.preview__text-wrapper{
    width: 100%;
    position: absolute;
    top: 35px;   
    left: 850px; 
}
.preview__tagline{
    position: relative;
    width: 500px;
    text-align: center;
}
.preview__tagline__text-main{
    font-weight: 114/80;
    font-size: 106.496px;
    line-height: 75%;    
    position: absolute;
    top: 0;
    left: 73px;
}
.preview__tagline__text-main span{
    color:#FFEE2E;
}
.preview__tagline__circle{
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
}
.preview__tagline__button{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    width: 252px;
    padding: 16px;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 50;
    font-size: 16px;
    margin: 60px 0 10px 110px;    
}