body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    width: 1600px;
    margin: 0 auto;
    color: #333B41;
}
a,
button{
    cursor: pointer;
}
.header__nav__menu__item .active {
    color: #E47209;
}
.container{
    width: 1160px;
    margin: 0 auto;
}
.header{
    width: 100%;
    background: #000000;
    backdrop-filter: blur(2px);
    color: #ffffff;
    padding: 13px 0;
}
.header__wrap{
    display: flex;
   justify-content: space-between;
    margin: 0 auto;
}
.header__logo{
    border: 1px solid #ffffff;
    border-radius: 2px;
    width: 81px;
    height: 49px;
    text-align: center; 
    padding-top: 1px; 
}
.header__logo__link{    
    position: relative;
    line-height: 19px;
    margin: 0;
    padding-top: 1px;
}
.header__logo__link a{
    font-size: 19px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    text-align: left;
}
.header__logo__link-img{
    position: absolute;
    left: 12px;
    bottom: 2px;
}
.header__nav{
    width: 100%;
    display: flex;
    justify-content: space-between;  
    padding-left: 0;  
}
.header__nav__menu{
    list-style: none;
}
.header__nav__menu__item{
    display: inline-block;
}
.header__nav__menu__item__link{
    text-decoration: none;
    color: #ffffff;
    margin: 5px;
    padding: 5px 23px 5px 21px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}
.header__nav__menu__item__link.des{
    margin: 0;
    padding: 0;
    text-align: right;
}
.header__nav__menu__item__link:hover{
    color: #f9804b;
}
.header__nav__menu__item__link:active{
    color: #f9804b;
}
.header__designed{
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 1px;
}
.dark-title{
    font-weight: 400;
    font-size: 48px;
    color: #333B41;
    margin: 0;
    line-height: 57px;
    margin-bottom: 10px;
}
.dark-title-big{
    font-size: 36px;
    text-align: center;
}
.section-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #333B41;
    margin: 0;
    padding-top: 10px;
}
.section-text-bold{
    font-weight: 500;
}
.dark-subtitle{
    color: #333B41;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    margin: 0;
}
.rounded-button{
    background: linear-gradient(90deg, rgba(249,128,75,1) 0%, rgba(254,144,19,1) 100%);
    border-radius: 25px;
    width: 252px;
    padding: 16px;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}
.rectangle-btn{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    width: 252px;
    padding: 16px;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}
.rounded-button:hover,
.rectangle-btn:hover{
    background: #E47209;
}
.rounded-button:active,
.rectangle-btn:active{
    background: #4B9200;
}
.rounded-button:disabled,
.rectangle-btn:disabled{
    background: #767474;
}
.rounded-button.no-gradient{
    background: #FE9013;
}
.rounded-button.no-gradient:hover{
    background: #E47209;
}
.rounded-button.no-gradient:active{
    background: #4B9200;;
}
.rounded-button.no-gradient:disabled{
    background: #767474;
}
.orange-title{
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    text-align: center;
}
.orange-link{
    color: #333B41;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid #FE9013;
}
.small-text{
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
}
.footer{
    background: #111115;
    padding-bottom: 40px;
}
.footer__wrap{
    display: grid;
    padding: 40px 0;
    grid-template-columns: auto auto;
    justify-content: space-between;
    row-gap: 23px;
}
.footer__wrap .rectangle-btn{
    width: 300px;
}
.footer__logo{
    border: 0.5px solid #FFFFFF;
}
.title-white{
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}
.form-control__email{
    width: 211px;
    padding: 1px;
    border-radius: 2px;
    /* background: #F9804B; */
    display: block;
    width: 204px;    
    padding: 10px 10px 14px;
    background: #111115;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #4B9200;
    border: 1px solid #FE9013;
    outline: none;
}
.form-control__email:hover{
    border-color: #4B9200;
}
.form-control__email:active{
    border: 1px solid #4B9200;
}
.form-control__email::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
}
.form-wrap{
    display: flex;
    padding: 13px 0;
}
.subscribe-btn:default{
    display: block;
    padding: 10px 39px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    background: #F1F3F2;
    border: 1px solid #333B41;
    border-radius: 5px;
    margin-left: 10px;
}
.subscribe-btn:hover{
    color: #4B9200;
    border: 1px solid #4B9200;
}
.subscribe-btn:active{
    color: #4B9200;
    border: 1px solid #4B9200;
}
.form-control__email:default{
    color: #FE9013;
    border-color: #FE9013;
}
.form-control__email:required:invalid{
    color: #D31414;
    /* border-color: #D31414; */
}

.form-control__email:valid{
    color: #4B9200;
    border-color: #4B9200;
}

.form-control__email:disabled{
    color: #FE9013;
    border-color: #FE9013;
}
.form-control__email:required:valid .subscribe-btn{
    color: #4B9200;
    border-color: #4B9200;
}
.footer-block{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: end;
    margin-top: -8px;
}

.social-items{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.social-item{
    margin: 14px 0 12px;
}
.social-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    padding: 6px 40px;
    position: relative;
}    
.social-link i{
    content: '';
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 0.5);
    background-repeat: no-repeat;
    position: absolute;
    top: 15%;
    left: 0%;
}
.social-link::after{
    content: '';
    width: 16px;
    height: 23px;
    position: absolute;
    top: 34%;
    left: 6%;
}
.social-link.fb::after{
    background: url('../../assets/icons/fb.svg') no-repeat;
}
.social-link.tw::after{
    background: url('../../assets/icons/tw.svg') no-repeat;
    top: 34%;
    left: 4%;
}
.social-link.insta::after{
    background: url('../../assets/icons/insta.svg') no-repeat;
    top: 31%;
    left: 3%;
}
.social-link.ytube::after{
    background: url('../../assets/icons/ytube.svg') no-repeat;
    top: 35%;
    left: 3%;
}
.social-link:hover{
    color: #4B9200;
}
.social-link:hover i{
    background-color: #4B9200;
}
.copyright-text{
    display: block;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    padding-bottom: 5px;
}
.copyright{
    display: grid;
    grid-template-columns: auto;
    align-items: end; 
    margin-bottom: 15px;
    text-align: right;
}

.footer-nav .header__nav__menu{
    margin-left: 115px;
}
