body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    width: 1600px;
    margin: 0 auto;
    color: #333B41;
}
a,
button{
    cursor: pointer;
}
.container{
    width: 1160px;
    margin: 0 auto;
}
.header{
    width: 100%;
    background: #000000;
    backdrop-filter: blur(2px);
    color: #ffffff;
    padding: 14px 0;
}
.header__wrap{
    display: flex;
   justify-content: space-between;
    margin: 0 auto;
}
.header__logo{
    border: 1px solid #ffffff;
    border-radius: 2px;
    width: 82px;
    height: 52px;
    text-align: center;  
    padding-top: 5px; 
}
.header__logo__link{    
    position: relative;
    line-height: 16px;
    margin: 0;
}
.header__logo__link a{
    font-size: 19px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}
.header__logo__link-img{
    position: absolute;
    left: 12px;
    bottom: 2px;
}
.header__nav{
    display: flex;
    justify-content: space-around;    
}
.header__nav__menu{
    list-style: none;
}
.header__nav__menu__item{
    display: inline-block;
}
.header__nav__menu__item__link{
    text-decoration: none;
    color: #ffffff;
    margin: 5px;
    padding: 5px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}
.header__nav__menu__item__link:hover{
    color: #f9804b;
}
.header__nav__menu__item__link:active{
    color: #f9804b;
}
.header__designed{
    display: flex;
    align-self: center;
    margin-left: 315px;
}
.dark-title{
    font-weight: 400;
    font-size: 48px;
    color: #333B41;
    margin: 0;
    line-height: 57px;
    margin-bottom: 10px;
}
.dark-title-big{
    font-size: 36px;
    text-align: center;
}
.section-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #333B41;
    margin: 0;
    padding-top: 10px;
}
.section-text-bold{
    font-weight: 500;
}
.dark-subtitle{
    color: #333B41;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    margin: 0;
}
.rounded-button{
    background: linear-gradient(90deg, rgba(249,128,75,1) 0%, rgba(254,144,19,1) 100%);
    border-radius: 25px;
    width: 252px;
    padding: 16px;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}
.rectangle-btn{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    width: 252px;
    padding: 16px;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}
.rounded-button:hover,
.rectangle-btn:hover{
    background: #E47209;
}
.rounded-button:active,
.rectangle-btn:active{
    background: #4B9200;
}
.rounded-button:disabled,
.rectangle-btn:disabled{
    background: #767474;
}
.rounded-button.no-gradient{
    background: #FE9013;
}
.rounded-button.no-gradient:hover{
    background: #E47209;
}
.rounded-button.no-gradient:active{
    background: #4B9200;;
}
.rounded-button.no-gradient:disabled{
    background: #767474;
}
.orange-title{
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    text-align: center;
}
.orange-link{
    color: #333B41;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid #FE9013;
}
.small-text{
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
}