body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: #333B41;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
a, button{
    cursor: pointer;
}
.header__nav__menu__item .active {
    color: #E47209;
}
.menu-btn{
    display: none;
}
.close-menu{
    display: none;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 30px;
}
.header{
    width: 100%;
    background: #000000;
    backdrop-filter: blur(2px);
    color: #ffffff;
    padding: 13px 0;
}
.header__wrap{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.header__logo{
    border: 1px solid #ffffff;
    border-radius: 2px;
    width: 81px;
    height: 49px;
    text-align: center;
    padding: 1px 2px 0px 2px;
}
.header__logo__link{    
    position: relative;
    line-height: 19px;
    margin: 0;
    padding-top: 1px;
}
.header__logo__link a{
    font-size: 19px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    text-align: left;
}
.header__logo__link-img{
    position: absolute;
    left: 7px;
    bottom: 4px;
}
.header__nav{
    width: 100%;
    display: flex;
    justify-content: space-between;  
    padding-left: 0;  
}
.header__nav__menu{
    list-style: none;
}
.header__nav__menu__item{
    display: inline-block;
}
.header__nav__menu__item__link{
    text-decoration: none;
    color: #ffffff;
    margin: 5px;
    padding: 5px 23px 5px 21px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}
.header__nav__menu__item__link.des{
    margin: 0;
    padding: 0;
    text-align: right;
}
.header__nav__menu__item__link:hover{
    color: #f9804b;
}
.header__nav__menu__item__link:active{
    color: #f9804b;
}
.header__designed{
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: -2px;
}
.dark-title{
    font-weight: 400;
    font-size: 48px;
    color: #333B41;
    margin: 0;
    line-height: 57px;
    margin-bottom: 10px;
}
.dark-title-big{
    font-size: 36px;
    text-align: center;
}
section{
    padding-top: 140px;
}
.section-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #333B41;
    margin: 0;
    padding-top: 10px;
}
.section-text-bold{
    font-weight: 500;
}
.dark-subtitle{
    color: #333B41;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    margin: 0;
}
.rounded-button{
    background: linear-gradient(90deg, rgba(249,128,75,1) 0%, rgba(254,144,19,1) 100%);
    border-radius: 25px;
    width: 252px;
    padding: 17px;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}
.rectangle-btn{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    width: 252px;
    padding: 17px;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}
.rounded-button:hover,
.rectangle-btn:hover{
    background: #E47209;
}
.rounded-button:active,
.rectangle-btn:active{
    background: #4B9200;
}
.rounded-button:disabled,
.rectangle-btn:disabled{
    background: #767474;
}
.rounded-button.no-gradient{
    background: #FE9013;
}
.rounded-button.no-gradient:hover{
    background: #E47209;
}
.rounded-button.no-gradient:active{
    background: #4B9200;;
}
.rounded-button.no-gradient:disabled{
    background: #767474;
}
.orange-title{
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    text-align: center;
}
.orange-link{
    color: #333B41;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid #FE9013;
}
.small-text{
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
}
.footer{
    background: #111115;
    padding-bottom: 40px;
}
.footer__wrap{
    display: grid;
    padding-top: 40px;
    padding-bottom: 40px;
    grid-template-columns: auto auto;
    justify-content: space-between;
    row-gap: 23px;
}
.footer__wrap .rectangle-btn{
    width: 268px;
}
.footer__logo{
    border: 0.5px solid #FFFFFF;
}
.title-white{
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}
.form-control__email{
    width: 211px;
    padding: 1px;
    border-radius: 2px;
    display: block;
    width: 204px;    
    padding: 10px 10px 14px;
    background: #111115;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #4B9200;
    border: 1px solid #FE9013;
    outline: none;
}
.form-control__email:hover{
    border-color: #4B9200;
}
.form-control__email:active{
    border: 1px solid #4B9200;
}
.form-control__email::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
}
.form-wrap{
    display: flex;
    padding: 13px 0;
}
.subscribe-btn:default{
    display: block;
    padding: 10px 39px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    background: #F1F3F2;
    border: 1px solid #333B41;
    border-radius: 5px;
    margin-left: 10px;
}
.subscribe-btn:hover{
    color: #4B9200;
    border: 1px solid #4B9200;
}
.subscribe-btn:active{
    color: #4B9200;
    border: 1px solid #4B9200;
}
.form-control__email:default{
    color: #FE9013;
    border-color: #FE9013;
}
.form-control__email:required:invalid{
    color: #D31414;
    /* border-color: #D31414; */
}

.form-control__email:valid{
    color: #4B9200;
    border-color: #4B9200;
}

.form-control__email:disabled{
    color: #FE9013;
    border-color: #FE9013;
}
.form-control__email:required:valid .subscribe-btn{
    color: #4B9200;
    border-color: #4B9200;
}
.footer-block{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: end;
}

.social-items{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.social-item{
    margin: 5px 0;
}
.social-link{
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 7px 40px 6px;
    position: relative;
}    
.social-link i{
    content: '';
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 0.5);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}
.social-link::after{
    content: '';
    width: 16px;
    height: 23px;
    position: absolute;
    top: 6px;
    left: 6%;
}
.social-link.fb::after{
    background: url('../../assets/icons/fb.svg') no-repeat;
}
.social-link.tw::after{
    background: url('../../assets/icons/tw.svg') no-repeat;
    left: 4%;
}
.social-link.insta::after{
    background: url('../../assets/icons/insta.svg') no-repeat;
    top: 4px;
    left: 5px;
}
.social-link.ytube::after{
    background: url('../../assets/icons/ytube.svg') no-repeat;
    left: 3%;
}
.social-link:hover{
    color: #4B9200;
}
.social-link:hover i{
    background-color: #4B9200;
}
.copyright-text{
    display: block;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.copyright{
    display: grid;
    grid-template-columns: auto;
    align-items: end; 
    text-align: right;
}

.footer-nav .header__nav__menu{
    margin: 0 0 11px 110px;
}
footer .rectangle-btn{
    width: 267px;
    display: block;
    text-decoration: none;  
    text-align: center;
}

@media (max-width:1000px) {
    .header__nav__menu__item__link{
        padding-right: 13px;
    }
    .header__designed{
        margin-right: -18px;
    }
    .subscibe-form{
        padding-right: 34px;
    }
    .footer-nav .header__nav__menu{
        margin: 0 0 11px 50px;
    }
    .copyright{
        padding-right: 16px;
    }
    .amount__form label {
        left: -12px;
    }
}

@media (max-width:640px) {
    .header__logo{
      border: none;
      width: 47px;
      height: auto;
      padding: 0;
    }
    h1{
        font-size: 12px !important;
        line-height: 14px !important;
    }
    .header__logo__link{
        padding: 0;
    }
    .header__logo__link>a{
        font-size: 12px !important;
        line-height: 14px !important;
    }
    .header{
        padding: 2px 0;
    }
    .header__nav{
        display: none;
    }
    .container{
        padding: 0 20px;
    }
    footer .header__logo__link-img{
        left: 11px;
        bottom: 3px;
        width: 12px;
    }
    footer .header__logo {
        border: 1px solid #ffffff;
        width: 81px;
        height: 49px;
        padding: 1px 2px 0px 2px;
    }
    footer .header__logo__link a {
        font-size: 19px !important;
        line-height: 19px !important;
    }
    .footer__logo {
        border: 0.5px solid #FFFFFF;
    }
    .footer__wrap{
        padding-top: 12px !important;
        padding-left: 21px !important;
        grid-template-columns: auto;
        row-gap: 34px;
    }
    .subscibe-form{
        display: none;
    }
    .footer__wrap .rectangle-btn {
        width: 264px;
    }
    .footer .social {
        position: absolute;
        top: 6px;
        right: 12px;
        width: 33px;
        overflow: hidden;
    }
    .footer{
        position: relative;
    }
    .footer .social-link{
        width: 55px;
        overflow: hidden;
    }
    .footer .social-item{
        margin: 5px 0 10px;
    }
    .footer .footer-block{
        padding-top: 69px;
    }
    .footer-nav .header__nav__menu {
        margin: 0 0 11px 0 !important;
        padding: 0;
    }
    .footer .header__nav__menu__item__link {
    padding: 5px 22px 5px 0;
    }
    .footer .copyright {
        margin-right: -27px;
    }
    .menu-btn{
        display: block;
        width: 18px;
        height: 10px;
        margin: 8px 0px 10px 0px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .menu-btn span{
        width: 26px;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        transition: all 0.5s;
    }
    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }
    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }
 /*   .menu.active{
        transform: translateX(0);
    }
    .menu-btn.active span:nth-of-type(1) {
        display: none;
    }
    .menu-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
    }
    .menu-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
    }*/
    .close-menu{
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 3px;
        right: 110px;        
        background: url('../images/icons/close-ic.svg') 10px 10px no-repeat;
        cursor: pointer;
        z-index: 500;
    }
    .menu{
        width: auto;
        display: block;
        position: fixed;
        z-index: 100;
        top: 0;
        right: -100%;
        gap: 0;
        padding: 15px 15px 25px 43px;
        flex-direction: column;
        background: #F2785C;
        box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
        border-radius: 10px;
        text-align: right;
        transition: right, left 0.9s ease 0.1s;
        -webkit-transition: right 0.9s ease 0.1s;
        -moz-transition: right 0.9s ease 0.1s;
    }
    .menu.active {
        right: 0;
        transition: right 0.9s ease 0.3s;
    }
    .nav{
        margin-top: 15px;
    }
    .nav__list{
        display: block;
    }
    .nav__list__item{
        width: 100%;
        margin: 0;
        padding: 5px 0;
    }
    .nav__list__item.mobile-items{
        display: list-item;
    }
    .nav__list__link {
        font-size: 16px;
    }
    /*BURGER MENU END*/


}